// Montserrat Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

body {
  color: $color-text;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  font-size: 2.8rem;
  font-weight: 400;
}
