.section {
  // Main Section
  &__main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 15rem;

    &__heading {
      &--1 {
        animation: moveInLeft 1s ease-out;
      }

      &--author {
        background: linear-gradient(to right, $color-focus, $color-focus-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &--2 {
        animation: moveInRight 1s ease-out;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;
      }
    }
  }

  // Section 1 - About
  &__about {
    min-height: 100vh;
    background-image: linear-gradient(135deg, $color-focus, $color-focus-2);
    color: $color-bg;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    display: flex;
    align-items: center;
    animation: moveInLeft 1s ease-out;

    &__heading {
      text-align: center;
      text-transform: uppercase;
      margin-top: 7rem;
    }

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2rem;
      margin-bottom: 1rem;
    }

    &__box--1 {
      text-align: center;
      min-width: 60rem;
      max-width: 60rem;
    }

    &__img {
      display: block;
      width: 100%;
    }

    &__box--2 {
      margin-top: 5rem;
      padding-right: 15rem;
      text-align: justify;
      hyphens: auto;
    }

    &__description {
      margin-bottom: 2rem;
    }
  }

  // Section 2: Projects
  &__projects {
    min-height: 100vh;
    padding: 0 15rem;

    &__heading {
      text-align: center;
      text-transform: uppercase;
      margin: 6rem;
    }

    &__project {
      display: flex;
      gap: 5rem;
      margin-bottom: 10rem;
      justify-content: center;
    }

    &__description {
      hyphens: auto;
    }

    &__image__container {
      min-width: 40rem;
      max-width: 120rem;
      text-align: center;
    }

    &__image {
      text-align: center;
      display: block;
      width: 100%;
      opacity: 0.9;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.05);
        overflow: hidden;
      }
    }

    &__button {
      margin: 2rem 0;

      &--1 {
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
      }

      &--2 {
        font-size: 1.5rem;

        &:hover {
          color: $color-focus-2;
        }
      }
    }
  }
}
