.btn {
  display: inline;
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.btn--primary {
  background: linear-gradient(to right, $color-focus 50%, $color-bg 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out, border 0.5s;
  color: $color-focus-2;
  border: $color-focus-2 0.2rem solid;

  &:hover {
    color: $color-bg;
    background-position: left bottom;
    border: 0.2rem solid transparent;
  }
}

.btn--secondary {
  background: linear-gradient(to right, $color-bg 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out, border 0.5s;
  color: $color-bg;
  border: $color-bg 0.2rem solid;

  &:hover {
    color: $color-focus;
    background-position: left bottom;
    border: 0.2rem solid transparent;
  }
}

.btn--tertiary {
  color: $color-focus;
}
