@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  margin: 2rem 0;
}

a:focus {
  outline: none;
}

body {
  color: black;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  font-size: 2.3rem;
  font-weight: 400;
}

.btn {
  display: inline;
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background: linear-gradient(to right, #02aab0 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out, border 0.5s;
  color: #00cdac;
  border: #00cdac 0.2rem solid;
}

.btn--primary:hover {
  color: white;
  background-position: left bottom;
  border: 0.2rem solid transparent;
}

.btn--secondary {
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-out, border 0.5s;
  color: white;
  border: white 0.2rem solid;
}

.btn--secondary:hover {
  color: #02aab0;
  background-position: left bottom;
  border: 0.2rem solid transparent;
}

.btn--tertiary {
  color: #02aab0;
}

.cards {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
  display: inline-block;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1800px;
  box-sizing: border-box;
  background-color: white;
}

@media (max-width: 2000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
  .section__projects__project {
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
  }
}

@media (max-width: 1040px) {
  html {
    font-size: 6px;
  }
  .section__main {
    padding: 0;
    justify-content: center;
  }
  .section__about__box {
    flex-wrap: wrap;
  }
  .section__about__box--2 {
    padding: 0 12rem;
  }
  .section__about__description {
    text-align: justify;
    text-align-last: center;
  }
}

@media (max-width: 775px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 1px) {
  html {
    font-size: 30px;
  }
}

.section__main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 15rem;
}

.section__main__heading--1 {
  animation: moveInLeft 1s ease-out;
}

.section__main__heading--author {
  background: linear-gradient(to right, #02aab0, #00cdac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__main__heading--2 {
  animation: moveInRight 1s ease-out;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.section__about {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  color: white;
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  display: flex;
  align-items: center;
  animation: moveInLeft 1s ease-out;
}

.section__about__heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 7rem;
}

.section__about__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 1rem;
}

.section__about__box--1 {
  text-align: center;
  min-width: 60rem;
  max-width: 60rem;
}

.section__about__img {
  display: block;
  width: 100%;
}

.section__about__box--2 {
  margin-top: 5rem;
  padding-right: 15rem;
  text-align: justify;
  hyphens: auto;
}

.section__about__description {
  margin-bottom: 2rem;
}

.section__projects {
  min-height: 100vh;
  padding: 0 15rem;
}

.section__projects__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 6rem;
}

.section__projects__project {
  display: flex;
  gap: 5rem;
  margin-bottom: 10rem;
  justify-content: center;
}

.section__projects__description {
  hyphens: auto;
}

.section__projects__image__container {
  min-width: 40rem;
  object-fit: cover;
  text-align: center;
}

.section__projects__image {
  text-align: center;
  display: block;
  width: 100%;
  opacity: 0.9;
  transition: all 0.5s;
}

.section__projects__image:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.section__projects__button {
  margin: 2rem 0;
}

.section__projects__button--1 {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}

.section__projects__button--2 {
  font-size: 1.5rem;
}

.section__projects__button--2:hover {
  color: #00cdac;
}
/*# sourceMappingURL=style.css.map */