// Colors #272341;
$color-bg: white;
$color-text: black;
// Rusty Red: DE3C4B, E01F2D, D3242B
// $color-focus: #E01F2D;
// $color-focus-2: #D3242B;

// 02aab0,#00cdac
$color-focus: #02aab0;
$color-focus-2: #00cdac;
$color-focus-3: #0b6058;




