/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&display=swap");

/* 
Colors: 
    Base Color: #rgb(45, 45, 45)
    Red Hue: #9c0a0e 
    Green Hue: #4aa047 
*/

/* -------------------------------------------------- */
/* ----- Global Selectors ----- */
/* -------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", "Arial", "sans-serif";
  font-size: 35px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 300%;
  font-weight: 300;
  margin-bottom: 1rem;
}

h2 {
  font-size: 200%;
  margin-bottom: 0.8rem;
  text-align: center;
}

h2::after {
  display: block;
  content: "";
  width: 10rem;
  margin: 1rem auto 1.5rem auto;
  border: 2px solid #9c0a0e;
}

h3 {
  font-size: 110%;
  margin: 1rem 0;
}

section {
  height: auto;
  padding: 3rem 1rem 3rem 2rem;
}

ul {
  list-style: none;
}

/* -------------------------------------------------- */
/* ----- Reusable Componenets ----- */
/* -------------------------------------------------- */

/* ----- Layout ----- */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* ----- Sticky Nav ----- */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2rem 2rem;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
  color: black;
}

.sticky ul li a:link,
.sticky ul li a:visited {
  color: #555;
}

.sticky img {
  display: block;
}

/* ----- Buttons ----- */

.btn {
  color: white;
  text-decoration: none;
  margin-right: 0.6rem;
  border: 1px solid #9c0a0e;
  padding: 10px;
  border-radius: 12px;
}

.btn-full {
  background-color: #9c0a0e;
  transition: color 0.2s;
}

.btn-full:hover {
  color: #4aa047;
}

.btn-ghost {
  color: #9c0a0e;
  transition: background-color 0.2s, color 0.2s;
}

.btn-ghost:hover {
  background-color: #9c0a0e;
  color: #4aa047;
}

/* Download Buttons */

.app-btn {
  width: 50%;
  max-width: 8rem;
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.5rem;
  text-transform: uppercase;
}

.app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}
.app-btn.blu:hover {
  background-color: #454545;
}
.app-btn ion-icon {
  width: 20%;
  text-align: center;
  font-size: 1.4rem;
  margin-right: 7px;
}
.app-btn .big-txt {
  font-size: 0.85rem;
  text-transform: capitalize;
}

/* -------------------------------------------------- */
/* ----- Section 0: Header ----- */
/* -------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  padding: 2em;
  grid-template-rows: 10% 90%;
}

/* ----- Main Nav ----- */
nav {
  grid-template-columns: 37% 63%;
  align-items: center;
  font-weight: 300;
}

nav img {
  width: 15rem;
}

nav ul {
  text-align: right;
}

nav ul li {
  display: inline;
  padding-right: 1em;
}

navul li:last-child {
  padding-right: 0;
}

nav ul li a:link,
nav ul li a:visited {
  color: white;
  text-decoration: none;
  padding-bottom: 0.3em;
  transition: border 0.08s;
}

nav ul li a:hover,
nav ul li a:active {
  border-bottom: 3px solid #4aa047;
}

.mobile-nav-icon {
  font-size: 2rem;
  color: #9c0a0e;
  text-decoration: none;
  display: none;
}

main {
  align-self: center;
  position: relative;
}

/* ----- Mobile Nav ----- */

.mobile-nav-icon {
  cursor: pointer;
  display: none;
}

/* -------------------------------------------------- */
/* ----- Section 1: Features ----- */
/* -------------------------------------------------- */

.section--features div p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section--features ul {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  margin-top: 1em;
}

.section--features ul li {
  padding: 2em 1em;
  text-align: center;
  border: solid 2px #9c0a0e;
  transition: transform 0.2s;
  margin-bottom: 1%;
}

.section--features ul li:hover {
  border: solid 2px #4aa047;
  transform: scale(1.03);
}

.section--features ul li ion-icon {
  font-size: 250%;
  color: #9c0a0e;
}

.section--steps-download a img {
  height: 2.3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* -------------------------------------------------- */
/* ----- Section 2: Showcase ----- */
/* -------------------------------------------------- */

.section--showcase {
  padding: 1rem 0 0 0;
}

.section--showcase-rows {
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  background-color: black;
}

.section--showcase-rows li figure {
  overflow: hidden;
}

.section--showcase-rows li figure img {
  display: block;
  width: 100%;
  opacity: 0.7;
  transform: scale(1.15);
  transition: opcaity 0.6s, transform 0.6s;
}

.section--showcase-rows li figure img:hover {
  opacity: 1;
  transform: scale(1);
}

/* -------------------------------------------------- */
/* ----- Section 3: How It Works ----- */
/* -------------------------------------------------- */

.section--steps {
  background-color: rgb(230, 230, 230);
}

.section--steps-box {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.section--steps-box img {
  display: block;
}

.section--steps-box ul {
  position: relative;
  padding: 0 3rem;
}

.section--steps-box ul li {
  margin: 2rem 0;
  display: flex;
}

.steps-number,
.steps-info {
  align-self: center;
}

.steps-number {
  padding: 0.6rem 0.8rem;
  border: 2px solid #9c0a0e;
  border-radius: 50%;
}

.steps-info {
  padding-left: 1.5rem;
}

/* -------------------------------------------------- */
/* ----- Section 4: Cities ----- */
/* -------------------------------------------------- */

.section--cities .grid {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
}

.section--cities ul li img {
  width: 100%;
}

.section--cities ul li ul li {
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
}

.section--cities ul li ul li ion-icon {
  color: #9c0a0e;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/* -------------------------------------------------- */
/* ----- Section 5: Testimonials ----- */
/* -------------------------------------------------- */

.section--testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/back-customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.section--testimonials h2:after {
  border-color: #4aa047;
}

.section--testimonials ul {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1%;
  font-style: italic;
}

.section--testimonials ul li blockquote {
  padding: 1rem 2rem;
}

.section--testimonials ul li blockquote::before {
  content: "\201C";
  font-size: 400%;
  line-height: 0;
  position: relative;
  top: 1.8rem;
  right: 0.4rem;
}

.section--testimonials ul li blockquote p {
  margin-bottom: 1rem;
}

.section--testimonials ul li blockquote cite {
  display: flex;
  align-items: center;
}

.section--testimonials ul li blockquote cite img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  transition: width 0.8s;
}

.section--testimonials ul li blockquote cite img:hover {
  width: 8rem;
}

.section--testimonials ul li blockquote span {
  font-size: 0.9rem;
}

/* -------------------------------------------------- */
/* ----- Section 5: Plans ----- */
/* -------------------------------------------------- */

.section--plans {
  background-color: rgb(230, 230, 230);
  padding-right: 1rem;
}

.section--plans-card {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.section--plans-col div,
.section--plans-col ul {
  padding: 1rem;
  border-bottom: 0.1px solid rgb(210, 210, 210);
}

.section--plans-col {
  flex-direction: column;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 1px 1px;
}

.section--plans-col div p {
  font-size: 2rem;
  font-weight: 300;
  color: #9c0a0e;
}

.section--plans-col div p span {
  font-size: 1rem;
}

.section--plan-per_meal {
  font-size: 0.8rem;
}

.section--plans-col ul li {
  padding: 0.5rem 0;
}
.section--plans-col ul li ion-icon {
  color: #9c0a0e;
  margin-right: 0.5rem;
}

.section--plans-col a {
  margin: 1rem 1rem;
  align-self: stretch;
  text-align: center;
}

.section--plans-col .btn-ghost {
  color: #9c0a0e;
}

.section--plans-col .btn-ghost:hover {
  color: #4aa047;
}

/* -------------------------------------------------- */
/* ----- Section 6: Forms ----- */
/* -------------------------------------------------- */

.section--form form {
  width: 80%;
  margin: 0 auto;
}

.section--form form div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section--form form div label {
  margin: 10px;
}
.section--form input,
.section--form select,
.section--form textarea {
  border: 1px solid #9c0a0e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  font-size: 0.8rem;
}

.section--form input[type="checkbox"] {
  margin-right: 10px;
}

.section--form .btn {
  width: 25%;
}
*:focus {
  outline: none;
}

/* -------------------------------------------------- */
/* ----- Footer ----- */
/* -------------------------------------------------- */

footer {
  background-color: rgb(30, 30, 30);
  color: rgb(145, 145, 145);
  grid-template-rows: repeat(2, 1fr);
  padding: 3rem 3rem 2rem 3rem;
}

footer .footer-nav {
  grid-template-columns: 2fr 1fr;
}

footer .footer-nav ul li {
  display: inline;
  margin-right: 1rem;
}

footer .footer-nav ul li a {
  color: rgb(145, 145, 145);
  text-decoration: none;
}

footer .footer-nav ul:first-child {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

footer .footer-nav ul:first-child li a:hover {
  color: rgb(200, 200, 200);
}

footer .footer-nav ul:last-child {
  color: rgb(145, 145, 145);
  text-align: right;
  font-size: 1.3rem;
}

ion-icon[name="logo-facebook"]:hover {
  color: rgb(59, 89, 152);
}

ion-icon[name="logo-youtube"]:hover {
  color: rgb(255, 0, 0);
}

ion-icon[name="logo-twitter"]:hover {
  color: rgb(29, 161, 242);
}

ion-icon[name="logo-instagram"]:hover {
  color: rgb(195, 42, 163);
}

footer .copyright {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  text-align: center;
}

footer .copyright p a {
  color: rgb(200, 200, 200);
  text-decoration: none;
  border-bottom: 2px solid red;
}

footer .copyright p a:hover {
  border-color: #4aa047;
}

/* -------------------------------------------------- */
/* ----- Animations ----- */
/* -------------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-4 {
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
